---
import HeroSection from "../components/HeroSection.astro";
import Layout from "../layouts/Layout.astro";
import AboutMe from "../components/AboutMe.astro";
import Timeline from "../components/MyTimeline.astro";
import ContestProfiles from "../components/ContestProfiles.astro";
import Research from "../components/Research.astro";
import Portfolio from "../components/Portfolio.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Welcome to abul kalam profile.">
    <main class="mb-10 space-y-14">
        <HeroSection />
        <AboutMe />
        <Timeline />
        <ContestProfiles />
        <!-- <Portfolio /> -->
        <!-- <Stats /> -->
        <!-- <Testimonials /> -->
        <Research />
        <!-- <Blog /> -->
        <Contact />
    </main>
</Layout>
