---
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";
---

<div id="about-me">
    <Container>
        <div
            class="mt-10 grid divide-x divide-y divide-gray-100 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 sm:grid-cols-2 lg:grid-cols-2 lg:divide-y-0 xl:grid-cols-2 dark:divide-gray-700 dark:border-gray-700"
        >
            <div class="group relative bg-white transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 dark:bg-gray-800">
                <div class="relative space-y-4 p-8">
                    <div class="relative flex gap-4 md:items-center">
                        <img src="./images/application.png" class="w-12" alt="" />

                        <h5 class="text-xl font-semibold text-gray-200 transition">Web Application Developer</h5>
                    </div>

                    <div class="space-y-2">
                        <ul class="leading-7 text-gray-200">
                            <li class="inline-flex">
                                <Icon name="mdi:application-braces-outline" class:list={["text-l", "me-2", "mt-2"]} />
                                HTML5, CSS, Boostrap, JavaScript, Jquery, TypeScript, Angular.
                            </li>
                            <li class="inline-flex">
                                <Icon name="mdi:file-code-outline" class:list={["text-l", "me-2", "mt-2"]} /> C++, C#, ASP.NET MVC5, ASP.NET Core, Visual Basic, NodeJs, Python.
                            </li>
                            <li class="inline-flex">
                                <Icon name="mdi:database-cog" class:list={["text-l", "me-2", "mt-2"]} /> SQL server, MySQL, PostgreSQL, MongoDB with mongoose.
                            </li>
                            <li class="inline-flex">
                                <Icon name="streamline:loop-1-solid" class:list={["text-l", "me-2", "mt-2"]} /> Agile methodology, Azure Cloud Services, Amazon Cloud Services, Git,
                                CI/CD.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="group relative bg-white transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 dark:bg-gray-800">
                <div class="relative space-y-4 p-8">
                    <div class="relative flex gap-4 md:items-center">
                        <img src="./images/brain.png" class="w-12" width="512" height="512" alt="" />

                        <h5 class="text-xl font-semibold text-gray-200 transition">Competitive Programmer</h5>
                    </div>

                    <div class="space-y-2">
                        <ul class="leading-7 text-gray-200">
                            <li class="inline-flex">
                                <Icon name="streamline:trophy" class:list={["text-l", "me-2", "mt-2"]} /> Divisional Champion, ACM ICPC Dhaka Regional 2015
                            </li>
                            <li class="inline-flex">
                                <Icon name="streamline:trophy" class:list={["text-l", "me-2", "mt-2"]} /> Divisional Champion, UAP-NCPC 2016
                            </li>
                            <li class="inline-flex">
                                <Icon name="streamline:trophy" class:list={["text-l", "me-2", "mt-2"]} />Runner Up, CSE Carnival 2017 – Varendra inter University programming
                                contest
                            </li>
                            <li class="inline-flex">
                                <Icon name="streamline:trophy" class:list={["text-l", "me-2", "mt-2"]} /> Runner Up, RUET GYAN-JAM intra university programming Contest 2016
                            </li>
                            <li class="inline-flex">
                                <Icon name="streamline:trophy" class:list={["text-l", "me-2", "mt-2"]} /> Excellent Performance of the year 2015 & 2016 from dept. of CSE, RUET
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>
