---
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";
---

<footer class="py-10 md:py-10">
    <Container>
        <div class="mx-auto max-w-screen-xl space-y-8 overflow-hidden px-4 py-12 sm:px-6 lg:px-8">
            <nav class="-mx-5 -my-2 flex flex-wrap justify-center">
                <div class="px-5 py-2">
                    <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900"> About </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900"> Blog </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900"> Team </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900"> Pricing </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900"> Contact </a>
                </div>
                <div class="px-5 py-2">
                    <a href="#" class="text-base leading-6 text-gray-500 hover:text-gray-900"> Terms </a>
                </div>
            </nav>
            <div class="mt-8 flex justify-center space-x-6">
                <a href="https://github.com/akazad13" target="_blank" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">GitHub</span>
                    <Icon name="mdi:github" class:list={["text-2xl"]} />
                </a>
                <a href="https://www.linkedin.com/in/akazadcse13" target="_blank" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">LinkedIn</span>
                    <Icon name="mdi:linkedin" class:list={["text-2xl"]} />
                </a>
                <a href="mailto: akazad.cse13@gmail.com" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Email</span>
                    <Icon name="mdi:email-outline" class:list={["text-2xl"]} />
                </a>
                <a href="https://www.facebook.com/akazad.cse13" target="_blank" class="text-gray-400 hover:text-gray-500">
                    <span class="sr-only">Facebook</span>
                    <Icon name="mdi:facebook" class:list={["text-2xl"]} />
                </a>
            </div>
            <p class="mt-8 text-center text-base leading-6 text-gray-400">© 2024 by akazad.dev. All rights reserved.</p>
        </div>
    </Container>
</footer>
