---
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";
---

<div class="text-gray-600 dark:text-gray-300" id="contact">
    <Container>
        <div class="w-full">
            <div class="container mx-auto my-16 flex flex-col items-center gap-16">
                <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3">
                    <div class="shadow-main flex flex-col items-center gap-3 rounded-3xl px-8 py-10 dark:bg-gray-800">
                        <span>
                            <Icon name="mdi:email-outline" class:list={["text-primary", "text-4xl"]} />
                        </span>
                        <p class="text-dark-grey-900 text-2xl font-bold">Email</p>
                        <p class="text-dark-grey-600 text-base leading-7">Contact us at</p>
                        <a class="text-purple-blue-500 text-lg font-bold" href="mailto: akazad.cse13@gmail.com">akazad.cse13@gmail.com</a>
                    </div>
                    <div class="shadow-main flex flex-col items-center gap-3 rounded-3xl px-8 py-10 dark:bg-gray-800">
                        <span>
                            <Icon name="mdi:cellphone" class:list={["text-primary", "text-4xl"]} />
                        </span>
                        <p class="text-dark-grey-900 text-2xl font-bold">Phone</p>
                        <p class="text-dark-grey-600 text-base leading-7">Reach out to us by phone</p>
                        <a class="text-purple-blue-500 text-lg font-bold" href="tel:+8801686871012">+8801686871012</a>
                    </div>
                    <div class="shadow-main flex flex-col items-center gap-3 rounded-3xl px-8 py-10 dark:bg-gray-800">
                        <span>
                            <Icon name="mdi:location-on-outline" class:list={["text-primary", "text-4xl"]} />
                        </span>
                        <p class="text-dark-grey-900 text-2xl font-bold">Location</p>
                        <p class="text-dark-grey-600 text-base leading-7">Find me at</p>
                        <a class="text-purple-blue-500 text-lg font-bold" target="_blank" href="https://maps.app.goo.gl/jaEEsF7L6B3qAhhu6">Amin Model Town, Dhaka, Bangladesh</a>
                    </div>
                </div>
            </div>
        </div>
    </Container>
</div>
