---
import Container from "./Container.astro";
import { Icon } from "astro-icon/components";
---

<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="h-56 bg-gradient-to-br from-primary to-purple-400 blur-[106px] dark:from-blue-700"></div>
        <div class="h-32 bg-gradient-to-r from-cyan-400 to-sky-300 blur-[106px] dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative ml-auto pt-36">
            <div class="mx-auto text-center lg:w-2/3">
                <h1 class="text-5xl font-bold text-gray-100 md:text-6xl xl:text-7xl">Md Abul Kalam</h1>
                <div class="mt-10 flex flex-wrap justify-center gap-x-6 gap-y-4">
                    <a
                        href="/doc/Md_Abul_Kalam_CV.png"
                        class="inline-flex cursor-pointer items-center gap-2 rounded bg-indigo-600 px-6 py-3 text-base font-semibold text-white transition-all ease-in-out hover:scale-105 active:scale-100 disabled:pointer-events-none disabled:opacity-50"
                    >
                        <Icon name="mdi:smart-card" class:list={["text-2xl"]} />
                        Resume
                    </a>

                    <a
                        href="https://www.linkedin.com/in/akazadcse13"
                        target="_blank"
                        class="inline-flex cursor-pointer items-center gap-2 rounded bg-indigo-600 px-6 py-3 text-base font-semibold text-white transition-all ease-in-out hover:scale-105 active:scale-100 disabled:pointer-events-none disabled:opacity-50"
                    >
                        <Icon name="mdi:linkedin" class:list={["text-2xl"]} />
                        LinkedIn
                    </a>

                    <a
                        href="https://github.com/akazad13"
                        target="_blank"
                        class="inline-flex cursor-pointer items-center gap-2 rounded bg-indigo-600 px-6 py-3 text-base font-semibold text-white transition-all ease-in-out hover:scale-105 active:scale-100 disabled:pointer-events-none disabled:opacity-50"
                    >
                        <Icon name="mdi:github" class:list={["text-2xl"]} />
                        Github
                    </a>
                </div>
                <div class="mt-10 flex flex-wrap justify-center gap-x-6 gap-y-4">
                    <a
                        href="#"
                        class="inline-flex cursor-pointer items-center gap-2 rounded-full bg-[#e91e63] px-6 py-3 text-base font-semibold text-white transition-all ease-in-out hover:scale-105 active:scale-100 disabled:pointer-events-none disabled:opacity-50"
                    >
                        <Icon name="streamline:business-handshake-solid" class:list={["text-2xl"]} />
                        Hire Me
                    </a>
                    <a
                        href="#"
                        class="inline-flex cursor-pointer items-center gap-2 rounded-full border border-[#7629c8] px-6 py-3 text-base font-semibold text-white transition-all ease-in-out hover:scale-105 hover:bg-[#7629c8] hover:text-white hover:shadow-lg active:scale-100 disabled:pointer-events-none disabled:opacity-50"
                    >
                        <Icon name="mdi:rocket-launch" class:list={["text-2xl"]} />
                        My Projects
                    </a>
                </div>
            </div>
        </div>
    </Container>

    <style type="text/css">
        #home {
            background-image: url("https://res.cloudinary.com/akazad13/image/upload/v1725795732/Abul_Kalam_ersvxi.png") !important ;
            height: 480px;
            background-size: 27em;
            position: relative;
            background-position: 85% 2%;
            background-repeat: no-repeat;
        }
    </style>
</div>
