---
import { AstroFont } from "astro-font";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";

const title = "Tech Lead | Programmer";
const meta = {
    description: "Hi, i am Md Abul Kalam, a Software engineer and a competitive programmer. This is my portfolio website. Want to know about me?",
};
const googleFontsUrl = "https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={meta.description} />
        <title>{title}</title>
        <AstroFont
            config={[
                {
                    src: [],
                    name: "Urbanist",
                    preload: true,
                    display: "swap",
                    selector: "html",
                    fallback: "sans-serif",
                    googleFontsURL: googleFontsUrl,
                },
            ]}
        />
    </head>
    <body class="bg-white dark:bg-gray-900">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
